/_SQL
/docs/schema/*.backup
*.backup
pinfo.php
/uploads/parse/current.xml
/uploads/parse/current.xml.last
/uploads/parse/current.xml.old
/uploads/parse
*.tmp
Xmltv_Model_Comments--*
zend_cache--*
/public/.htaccess
/bin/liquibase.jar
