<phpunit bootstrap="./bootstrap.php"
	colors="true"
	verbose="true"
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"
    convertNoticesToExceptions="true"
    backupGlobals="true"
    backupStaticAttributes="false"
	stopOnFailure="true"
	syntaxCheck="false">
	<testsuite name="Application Test Suite">
		<directory>./application</directory>
	</testsuite>
	<testsuite name="Library Test Suite">
		<directory>./library</directory>
	</testsuite>
	
	<filter>
		<whitelist>
			<exclude>
                <directory suffix=".phtml">./application</directory>
            </exclude>
		</whitelist>
	</filter>
	
	<listeners>
		<listener class="Lagged_Test_PHPUnit_ControllerTestCase_Listener" file="Lagged/Test/PHPUnit/ControllerTestCase/Listener.php" />
	</listeners>
    
    <!-- <logging>
        <log type="coverage-html" 
            target="./log/coverage" 
            charset="UTF-8"
            yui="true" highlight="true"
            lowUpperBound="50" 
            highLowerBound="80"/>
    </logging> -->
    
    <!-- <groups>
        <include>
            <group></group>
        </include>
        <exclude>
            <group></group>
        </exclude>
    </groups> -->
    
    <php>
        <ini name="html_errors" value="Off" />
        <ini name="max_execution_time" value="0" />
        <ini name="memory_limit" value="1024M" />
        <ini name="xdebug.default_enable" value="1" />
        <ini name="xdebug.var_display_max_data" value="4096" />
        <ini name="xdebug.auto_trace" value="0" />
        <ini name="xdebug.overload_var_dump" value="1" />
        <ini name="xdebug.profiler_output_dir=" value="/home/takeshi/www/xdebug" />
        <ini name="xdebug.cli_color" value="1" />
    </php>
	
</phpunit>
