@CHARSET "UTF-8";

@keyframes carousel-control { from { background: #FAA732; } to { background: #E06D1B; } }
@-moz-keyframes carousel-control { from {background: #FAA732;} to {background: #E06D1B;} }
@-webkit-keyframes carousel-control { from {background: #FAA732;} to {background: #E06D1B;} }
@-o-keyframes carousel-control { from {background: #FAA732;} to {background: #E06D1B;} }

@keyframes directadvert-link { from { background: white; } to { background: #E06D1B; } }
@-moz-keyframes directadvert-link { from {background: white;} to {background: #E06D1B;} }
@-webkit-keyframes directadvert-link { from {background: white;} to {background: #E06D1B;} }
@-o-keyframes directadvert-link { from {background: white;} to {background: #E06D1B;} }