@CHARSET "UTF-8";
@font-face {
    font-family: "OpenSans Condensed Bold";
    src: url('/fonts/opnsancb.ttf');
}

@font-face {
    font-family: "Univers Condensed Medium Italic";
    src: url('/fonts/universcmi.ttf');
}