@CHARSET "UTF-8";

@font-face {
    font-family: "OpenSans Condensed Bold";
    src: url("../fonts/opnsancb.ttf") format("truetype");
}
/*
@font-face {
    font-family: "Univers Bold";
    src: url("../fonts/universb.ttf") format("truetype");
}
*/
@font-face {
    font-family: "Univers Condensed Bold";
    src: url("../fonts/universcb.ttf") format("truetype");
}
@font-face {
    font-family: "Univers Condensed Medium Italic";
    src: url("../fonts/universcmi.ttf") format("truetype");
}
/*
@font-face {
    font-family: "Grotic";
    src: url("../fonts/GROTIC.TTF") format("truetype");
}
@font-face {
    font-family: "Impact";
    src: url("../fonts/impact.ttf") format("truetype");
}
@font-face {
    font-family: "OfficinaSans";
    src: url("../fonts/osn45__c.ttf") format("truetype");
}
@font-face {
    font-family: "OfficinaSerif";
    src: url("../fonts/osr65__c.ttf") format("truetype");
}
*/
