@keyframes directadvert-link { from { background: white; } to { background: #b2b2b2; } }
@-moz-keyframes directadvert-link { from {background: white;} to {background: #b2b2b2;} }
@-webkit-keyframes directadvert-link { from {background: white;} to {background: #b2b2b2;} }
@-o-keyframes directadvert-link { from {background: white;} to {background: #b2b2b2;} }

@black: #2B2B2B;
@red: #E06D1B;
@white: #f6f6f6;
@yellow: #ffcc00;
@lightYellow: (@yellow + #111);
@orange: #FAA732;
@gray: #999;
@blue: #357AE8;

@bgColor: #EFEFEF;

@darkYellow: (@yellow - #222);
@brightYellow: #F5E400;

@lightBlue: (@blue + #333);
@brightBlue: (@blue + #333);

@darkGray: (@gray - #333);
@veryDarkGray: (@gray - #555);
@lightGray: (@gray + #333);
@veryLightGray: (@gray + #666);

@baseFont: Verdana,Helvetica,sans-serif;
@tahoma: Tahoma,Arial,Helvetica,sans-serif;
@serif: "Times New Roman", Times, serif;
@openSansCondBold: "OpenSans Condensed Bold", Verdana, Helvetica, sans-serif;
@universCondensedMediumItalic: "Univers Condensed Medium Italic",Tahoma,Helvetica,Arial,sans-serif;
@normalFont: 1em;
@smallFont: (@normalFont - 0.16em);
@tinyFont: (@normalFont - 0.3em);


@grayDashedBorderThin: 1px dashed @gray;
@grayDashedBorderNormal: 2px dashed @gray;
@grayDashedBorderBold: 4px dashed @gray;

@lightGrayDashedBorderThin: 1px dashed @lightGray;
@lightGrayDashedBorderNormal: 2px dashed @lightGray;
@lightGrayDashedBorderBold: 4px dashed @lightGray;

@darkGrayDashedBorderThin: 1px dashed @darkGray;
@darkGrayDashedBorderNormal: 2px dashed @darkGray;
@darkGrayDashedBorderBold: 4px dashed @darkGray;




/*
 * LESS
 */
.channelTitle(@line-height: 1em){
	.largeFont(@line-height);
	background: none;
    border-color: @lightGray;
    border-image: none;
    border-radius: 0;
    border-width: 0 0 3px;
}

.mainHeading(@border-radius: 16px){
	background: #F6F6F6;
    background-image: -webkit-gradient(
        linear,
        right bottom,
        right top,
        color-stop(0, #FFFFFF),
        color-stop(1, #FFCC00)
    );
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #FFCC00 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FFCC00 100%);
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FFCC00 100%);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #FFCC00 100%);
    background-image: linear-gradient(to top, #FFFFFF 0%, #FFCC00 100%);
    border-radius: 10px;
    border-top: 4px solid #FFCC00;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.4em;
    padding: 0 0.5em;
     -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.15);
    border: 1px solid #f7f7f7;

}

.orangeButton{
	color: #fff;
	background-color: @orange;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: none;
}

.ad468 {
	margin: 24px auto;
	width: 468px;
	height: 60px;
	border: 1px solid @veryDarkGray;
}
.ad728x90{
	width:728px;
	height: 90px;
	overflow: hidden;
	margin: 0 auto;
}
.largeFont(@line-height: 1em){
	line-height: @line-height;
	font-size: 1.4em;
}
.clearAll{
	clear: both;
    content: "";
    display: table;
}
.thinLightDashedBorder(@border-width: 1px 1px 1px 1px){
	border-width: @border-width;
	border-bottom: 1px dashed @veryLightGray;
	margin-bottom: .5em;
}
.boldRounded{
	border: 6px solid @white;
    border-radius: 16px 16px 16px 16px;
    font-family: @openSansCondBold;
    padding: 0.5em 0.3em;
}
.articleLead{
	font-family: "Times New Roman",Times,serif;
    font-size: 1.6em;
    font-style: oblique;
    font-weight: normal;
    line-height: 1.2em;
	margin: 1em 0;
}

.module{
    margin-bottom: 12px;
}


/**
 * CSS
 */


body{
	background-color: @bgColor;
}
body > * {
	font-family: @baseFont;
    color: #555;
}

body .microformat{
	display:none;
}

input {
	
}


.btn{
	text-shadow: none;
	box-shadow: none;
	&:hover{
		transition: none;
	}
}
.btn-primary{
	background-color: @blue;
	background-image: none;
	background-repeat: inherit;
	border-width: 3px;
}
.clr{
	clear: both;
}
li.lastcol:after {
	.clearAll;
}
.smallheading {
	background-color: #EFEFEF;
	font-weight: bold;
    padding: 0.3em 0 0.3em 0.5em;
    font-weight: 1em;
    font-size: x-small;
}



/*
 * Header
 */
#header {
    
    .navbar .btn,
    .navbar .btn-group {
        margin-top: 0;
    }
    
    .navbar-inner{
        background-color: #ffcc00;
        background-image: -webkit-gradient(
            linear,
            right top,
            right bottom,
            color-stop(0, #FFFFFF),
            color-stop(1, #FFCC00)
        );
        background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FFCC00 100%);
        background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FFCC00 100%);
        background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FFCC00 100%);
        background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FFCC00 100%);
        background-image: linear-gradient(to bottom, #FFFFFF 0%, #FFCC00 100%);
        border-radius: 0 0 6px 6px;
        border-top:none;
        padding-top: 12px;
        ul.nav{
            li{
                a{
                    color: #333;
                    text-shadow: none;
                    font-size: 12px;
                    padding: 4px 6px;
                    width: 100%;
                }
                ul.dropdown-menu{
                    overflow:hidden;
                }
            }
            li.dropdown.open > .dropdown-toggle{
                background-color: #333;
                color: #fff;
            }
        }
        
    }
    
    .b728x90{
        width: 728px;
        margin: 0 auto;
    }
}


.leftColH4{
    color: #C41247;
    font-weight: bold;
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 5px;
}
.leftColList{
    list-style: none;
    margin: 0;
    background: #dedede;
    border-radius: 6px;
    padding: 8px;
    border: 2px solid #f7f7f7;
    box-shadow: 0 0 8px 2px rgba(125, 125, 125, 0.3);
    background: #ffcc00;
}

.channelLogoSidebar{
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
}



/*
 * Модуль топа передач
 */
#topBroadcasts.module {
    h4{
        .leftColH4;
    }
    ul {
        .leftColList;
        li{
            display: block;
            margin-bottom: 5px;
            img.channelLogo{
                .channelLogoSidebar;
                width: 16px;
                float: left;
            }
            a{
                color: #555555;
                display: table-cell;
                float: left;
                font-size: 11px;
                line-height: 16px;
                padding-left: 0.5em;
                width: 78%;
            }
            &:before{ .clearAll; }
            &:after{ .clearAll; }
        }
    }
}

#topChannels{
    h4{
        .leftColH4;
        margin-top: 0;
    }
    ul{
        .leftColList;
        li{
            margin-bottom: 5px;
            line-height: 24px;
            img.channelLogo{
                .channelLogoSidebar;
                width: 24px;
            }
            img.flagImg{
                width: 16px;
            }
            a{
                color: #555555;
                font-size: 11px;
                line-height: 16px;
                padding-left: 0.5em;
            }
            &:before{ .clearAll; }
            &:after{ .clearAll; }
        }
    }
}

#DIV_DA_78318{
    .wrap{
        .text{
            a{
                img{
                    float:left;
                }
            }
        }
    }
}


/**
 * Модуль новостей
 */
#channelNews{
    .message{
        p{
            font-size: 10px;
            line-height: 14px;
            margin-top: 0.5em;
            img{
                display:none;
            }
            img.channelNewsImage{
                display:inline;
                border: 1px solid #555555;
                float: left;
                margin-right: 4px;
                width: 48px;
            }
        }
        .pubDate{
            margin-bottom: 0.5em;
        }
        .link{
            margin-top:0;
            margin-bottom: 0;
            a{
                color: #333;
                &:hover{
                    color: #333;
                    text-decoration: none;
                }
            }
        }
    }
}



	
/*
 * Channels categories list
 */
ul#channels_categories {
	
	-webkit-box-shadow:  0px 0px 8px 2px rgba(125, 125, 125, 0.3);
    box-shadow:  0px 0px 8px 2px rgba(125, 125, 125, 0.3);
	background-color: @yellow;
	border-radius: 4px 4px 4px 4px;
	
	li {
		line-height: 22px;
	}
	li a {
		padding: 0.3em;
		color: @black;
		font-size: 10px;
		&:hover{
			background-color: #f1f1f1;
			color: @black;
		}
	}
	img {
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		-o-border-radius: 6px;
		background-color: #FFFFFF;
	    border: 1px solid #E1E1E1;
	    height: 18px;
	    margin-right: 4px;
	    padding: 2px;
	    width: 18px;
		behavior:url('/css/PIE.htc');
	}
}
	
	


#rumor-ads {
	
	display:none;
	
	div.wrap{
		margin: 0 0 0.5em;
	    padding: 0.5em;
		
        img{
			border: 1px solid @veryDarkGray;
		    border-radius: 8px 8px 8px 8px;
		    overflow: hidden;
			
		}
		
		p { 
			border-radius: 8px;
            color: #2B2B2B;
            display: block;
            width: 100%;
            min-height: 74px;
            padding: 0.5em;
            margin-bottom: 0;
            a {
                color: @black;
                background: none;
				font-family: "Univers Condensed Medium Italic", Helvetica, Arial, sans-serif;
                font-size: 1.4em;
                &:link{
                    text-decoration:none;
                }
                img {
					margin-right: 0.5em;
					float: left;
					width: 64px;
					overflow: hidden;
				}
			}
            &:hover{
                background: @red;
                color: #FFFFFF;
                text-decoration: none;
                animation: directadvert-link 0.3s;
                -moz-animation: directadvert-link 0.3s; /* Firefox */
                -webkit-animation: directadvert-link 0.3s; /* Safari and Chrome */
                -o-animation: directadvert-link 0.3s; /* Opera */
                a{
                    color: white;
                }
            }
			
		}
        &:first-child {
			
		}
		&:last-child {
			border-bottom: 0;
		    height: 8em;
			
		}
        
        &:after{
            content: "";
            clear: both;
            display: block;
        }
	}
}




#content {
    
    margin-top: 18px;
    
    form#timezone{
        margin-bottom: 0;
    }
    
	h1 {
		.mainHeading(10px);
	}
    
    h3 { 
        .channelTitle(2.6em); 
    }
    
    p.weekdate {
		font-size: @smallFont;
	}
	
	ul.dl {
		list-style: none;
		margin: 0;
		img{
			display: block;
			float:left;
			margin-right: 1em;
		}
		a {
			display: block;
		    font-size: 0.8em;
		    margin: 0 0 1.1em;
		}
		
	}
    
    .label, .badge{
        text-shadow: none;
    }
	
	.videos{
		
		div.main{
		
			div.player-wrap {
				background: url("../images/icons/128x128-loading.gif") no-repeat scroll 180px 73px @white;
				border: 6px solid @gray;
				border-radius: 6px;
				-webkit-border-radius: 12px;
				margin-bottom: 1em;
			    height: 258px;
			    width: 460px;
			}
			
			p {
				font-size: @smallFont;
				line-height: 1.4em;
			}
		}
		
		.related{
			.video{
				&:before{ .clearAll; }
				&:after{ .clearAll; }
				div.image{
					float:left;
					margin-right: .6em;
					margin-bottom: .4em;
					a.imagelink{
						display:inline-block;
						margin-botton: 1em;
						border: 6px solid #DDDDDD;
					    border-radius: 12px 12px 12px 12px;
					    display: inline-block;
					    overflow: hidden;
					}
					p.viewcount,
					p.category,
					p.date{
						font-size: @tinyFont;
						line-height: 1.5em;
						margin: 0;
					}
				}
				.description{
					p{
						font-size: @smallFont;
					}
					
				}
			}
			h3{
				.mainHeading;
				padding: .3em;
				line-height: 1em;
				a {
					font-size: @smallFont;
					color: @darkGray;
				}
			}
		}
	}
    
    .module{
        label{
            font-size: @tinyFont;
        }
    }
	
    #vframe{
        &:after{ .clearAll }
    }
    
    div.top-position{
        
        &:before{ .clearAll }
        &:after{ .clearAll }

        img.tip{
            float: left;
            margin: 0.3em 0.2em 0 0;
        }

        form{
            margin-bottom:0;
            label{
                cursor: auto;
                font-size: 0.8em;
                font-weight: bold;
                color: @darkGray;
            }
            input[type="text"] {
                font-size: 2em;
                height: auto;
                line-height: 2em;
                width: 68%;
                margin-bottom: 0;
            }
            input[type="submit"]{
                font-weight: bold;
                font-size: 1.6em;
            }
        }

        
    }
    
    #adCode{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    /*
    .program-week,
	.program-day {
        h1{
                font-family: @openSansCondBold;
            }
            h3, h4{
                line-height: 1.5em;
                color: @lightGray;
                font-family: "OpenSans Condensed Bold",Verdana,Helvetica,sans-serif;
                a{
                    color: @orange;
                    text-decoration:underline;
                }
            }
            h3{
                border-bottom: 2px dashed #999999;
                border-top: 2px dashed #999999;
                font-size: 22px;
            }
            p{
                margin: 0 0 0.4em;
                font-size: 12px;
                img.logo{
                    width: 26px;
                    border-radius: 4px;
                    border: 1px solid @lightGray;
                }
            }
            p > *{
                font-size: 12px;
            }
    }
    */
    
    
    .channels{
        h1{

        }
        h2{
            .mainHeading();

        }
    }
    
    .category{
        margin-left:0;
        h1{

        }
        h2{
            .mainHeading();
        }
    }
    
    .blog-item{
        div.article{
            h1{
                .mainHeading();
                font-size: 1.8em;
                font-weight: normal;
                line-height: 1.3em;
                padding: 0 0 0.1em 0.3em;
            }
            p{
                font-size: 0.88em;
                line-height: 1.6em;
                a{
                    color: #333;
                    border-bottom: 1px dashed @darkGray;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            p.lead{
                .articleLead();
            }
        }
        #related{
            h3{
                .mainHeading();
                font-size: 1.4em;
                padding: 0 0.3em 0.1em;
                font-weight: normal;
                line-height: 1.3em;
                a{
                    color: @black;
                }
            }
        }
    }
    
    .category-week,
    .category-day{
        div.programcontainer{
            padding:0;
            p{
                font-size: 11px;
                span{
                    font-size: 10px;
                }
            }
        }
    }
    
    .advm{
        [class*="span"]{
            display: table-cell;
            min-height:180px;
            background: @lightYellow;
            border-radius: 8px;
            padding: 0.5em;
        }
        p{            
            a{
                text-align: left;
                font-size: 14px;
                color: @darkGray;
                font-family: @tahoma;
                img{
                    width: 48px;
                    float: left;
                    margin: 0 1em 0 0;
                    border: 6px solid #DDDDDD;
                    border-radius: 4px;
                    display: block;
                }
                &:hover{
                    /* color: @white; */
                }
            }
            /*
            &:hover {
                background-color: @lightYellow;
                text-decoration: none;
                animation: directadvert-link 0.5s;
                -moz-animation: directadvert-link 0.5s; 
                -webkit-animation: directadvert-link 0.5s; 
                -o-animation: directadvert-link 0.5s; 	
            }
            */
        }
    }
    
    
	
    h1{

    }
    #timer{
        min-height: inherit;
        line-height: 20px;
        text-shadow: none;
    }
  
    
}



#content.dayListing{
    
    h2#dayButton a{
        line-height: 20px;
        margin-top: 0;
    }
    
    h3#weekButton{
        line-height: 20px;
        margin: 0;
    }
    
    p.ace {
        font-size: 10px;
        line-height: 9px;
    }
    
    #tinyUrl p{
        font-size: 12px;
        line-height: 16px;
        a{
            color: inherit;
        }
    }
    
    #programlist{
        .item{
            overflow: hidden;
            h3{
                height: 80px;
                line-height: 0.9em;
                overflow: hidden;
                a{
                    font-family: @openSansCondBold;
                    font-size: 22px;
                    line-height: 1.2em;
                    color: @orange;
                }
            }
            img.iconLive{
                width: 24px;
            }
            h3.popover-title{
                background-attachment: inherit;
                background-clip: inherit;
                background-color: #F7F7F7;
                background-image: inherit;
                background-origin: inherit;
                background-position: inherit;
                background-repeat: inherit;
                background-size: inherit;
                border: inherit;
                border-radius: inherit;
                font-size: inherit;
                height: auto;
                line-height: inherit;
            }
            p{
                font-size: 11px;
                line-height: 16px;
            }
            .program-links{
                margin-left: auto;
                margin-right: auto;
                li {
                    a{
                        background-color: @white;
                        font-size: 10px;
                        color: @darkGray;
                        &:hover{
                            background-color: @lightGray;
                        }
                    }
                }

            }
            .age-rating{
                font-size: 9px;
            }
            p.video{
                overflow:hidden;
                margin-top: 1em;
                img{
                    border: 2px solid #555;
                    border-radius: 2px;
                    -o-border-radius: 2px;
                    -webkit-border-radius: 2px;
                    display: block;
                    margin: 1em auto;
                    width: 100%;
                }
            }
        }
        
    }
    
    ul#daynav{
        
    }
}

#content.frontpage {
        
    div.page{

        div#news{
            margin: 0.3em 0;
            div.announce{
                text-align:left;
                border-right: 1px solid @lightGray;
                img{
                    border: 1px solid @darkGray;
                    width: 42px;
                    height: 42px;
                    float: left;
                    margin: 0 8px 0 0;
                }
                a{
                    font-size: 11px;
                    color: @veryDarkGray;
                }
            }
            div.announce:last-child{
                border-right: none;
            }
        }


        h1{
            .mainHeading(10px);
            float: left;
            margin: 0 0.5em;
            line-height: 1em;
            a {
                color: @darkGray;
                text-decoration: underline;
                font-size: 22px;
            }
        }

        label[for="channel"]{
            background-color: @white;
            border: 4px solid @yellow;
            border-radius: 10px 10px 10px 10px;
            float: left;
            font-family: @tahoma;
            font-size: 22px;
            line-height: 32px;
            margin: 0;
            padding: 0 0.35em;
        }

        div.select-container{
            float: left;
            select {
                font-size: 22px;
                /*width: auto;*/
                margin: 1px 1em 0 0.4em;
            }
        }

        #listing{
            h2 {
                .mainHeading();
                font-size:1.6em;
                margin: 0;
                padding: 0 0 0 .35em;
                a {
                    color: @darkGray;
                }
                &:before{ .clearAll; }
                &:after{ .clearAll; }
            }
            .tabs{
                h3.title{
                    color: #666666;
                    font-size: 11px;
                    margin: 0;
                    padding: 0 0 0 2%;
                    line-height: 11px;
                    float: left;
                    a {
                        background: none repeat scroll 0 0 #DDDDDD;
                        border-color: #FFCC00;
                        border-radius: 6px 6px 0 0;
                        border-style: solid;
                        border-width: 2px 2px 0;
                        color: gray;
                        display: inline-block;
                        padding: 0.6em 1em;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                &:after{ .clearAll; }
            }
            
            div.progs {
                background-color: #EFEFEF;
                margin: 0 0 1.2em;
                width: 100%;
                .item {
                    -webkit-box-shadow:  0px 0px 6px 1px rgba(128, 128, 128, 0.15);
                    -o-box-shadow:  0px 0px 6px 1px rgba(128, 128, 128, 0.15);
                    box-shadow:  0px 0px 6px 1px rgba(128, 128, 128, 0.15);
                    margin: 0.25em;
                    border-radius: 8px 8px 8px 8px;
                    background-color: #EFEFEF;
                    float: left;
                    overflow:hidden;
                    height: 14em;
                    font-size: 10px;
                    &:hover{
                        background-color: #DDDDDD;
                    }
                    div.time{
                        font-size: 1.4em;
                        font-weight: bold;
                        padding: 0.4em 0.6em;
                    }
                    div.info{
                        padding: 0 0 0 10px;
                        p.title{
                            font-size: 1.2em;
                            font-weight: bold;
                            margin: 0;
                            a {
                                color: @veryDarkGray;
                            }
                        }
                        a {
                            color: @darkGray;
                        }
                    }
                    a{

                    }

                }
                &:before{ .clearAll; }
                &:after{ .clearAll; }
                div.item:first-child{
                    background-color: #fff;
                    height: 16em;
                    &:hover{
                        background-color: #DDDDDD;
                    }
                }
                div.item:last-child{
                    height: 10em;
                    border-right: 0;
                }
            }
        }
    }
}

#content.broadcastWeek{
    h3{
        
    }
    p{
        font-size: 11px;
    }
}



#channels {

    h3{
        .channelTitle(2.6em);
        img{
            -webkit-box-shadow:  0px 0px 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow:  0px 0px 1px 2px rgba(0, 0, 0, 0.05);
        }
    }

    div.channeldesc{
        background: none;
        border:0 ;
        &:after {
            content: "";
            clear:both;
            display: table;
        }
    }

    p { font-size: @smallFont; }

}

#fastsearch-wrap {
	
	width: 100%;
	float: none;

	img.tip{
		float: left;
		margin: 0.3em 0.2em 0 0;
	}
	
	form{
		margin-bottom:0;
		label{
			cursor: auto;
			font-size: 0.8em;
			font-weight: bold;
			color: @darkGray;
		}
		input[type="text"] {
			/*font-size: 2em;*/
			height: auto;
			line-height: 2em;
			width: 68%;
			margin-bottom: 0;
		}
		input[type="submit"]{
			font-weight: bold;
			font-size: 1.6em;
		}
	}
	
	
}

#vkGroup{
    overflow:hidden;
}

#content.channelWeek{
    #weekList{
        margin-top: 12px;
        border:none;
        background: none;
        ul#daysTabs{
            border:none;
            background: none;
            li{
                a{
                    font-size: 11px;
                    padding: 0.25em 0.4em;
                }
            }
        }
    }
    .ui-tabs-panel{
        p{
            a{
                
            }
        }
    }
    h2{
        font-size: 12px;
        margin-bottom: 0;
        margin-top: 0;
    }
    h3{
        font-family: Tahoma,Arial,Helvetica,sans-serif;
        font-weight: normal;
    }
}


/*
 * Footer
 */
#footer {
	h4 { font-size: 10px }
	p { font-size: 10px }
	div.counter_logo, div.copy{
		float: left;
		height: 33px;
	}
}



/*
 * Comments
 */
#comments {
	
	p.description{
		font-size: 0.88em;
		margin-bottom: 1em;
	}
	
}

textarea, input[type="text"]{
    font-size: 11px;
}

#sidebarVideos{
    h3{
        .leftColH4();
    }
    .ui-accordion-header{
        font-size: 11px;
        line-height: 14px;
        background: none;
    }
    .ui-accordion-content{
        padding: 0.5em 1em;
        .desc{
            font-size: 12px;
            line-height: 14px;
        }
        a.btn{
            font-size: 10.5px;
            color: #FFFFFF;
        }
        .viewcount,
        .duration{
            font-size: 10px;
        }
    }
    i.icon-plus{
        display: none;
    }
}

	

@media (max-width: 1024px){
    div.videos{
        h1{
            font-size: 24px;
        }
        div.related{
            h3{
                a {
                    font-size: 20px;
                }
            }
        }
    }
}
