@CHARSET "UTF-8";


[class*="span"] {
	margin-left: 15px;
}
.clr{
	clear: both;
}
.carousel-control {
    background: none repeat scroll 0 0 #FAA732;
    border: 3px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 100;
    height: 30px;
    left: 15px;
    line-height: 24px;
    top: 2%;
    text-shadow: none;
    opacity: 1;
    margin-top: 0;
    padding: 2px 0;
}

.navbar {
	overflow: hidden;
}

li.lastcol:after { 
	clear:both;
}

#xmltv{}

#channels{}

	#channels .channeltitle {}

		#channels .channeltitle .channellink {
			width:95%;
			text-align: left;
		}
		#channels .channeltitle .channellink:after{
			clear:both;
		}
		#channels .channeltitle .channellink img {
			width:40px;
			height:40px;
		}
		#channels .channeldesc {
			clear:both;
		}

#maincontent{
	overflow:hidden;
	min-height: 640px;
}
	#maincontent ul.thumbnails {}
	#maincontent ul.thumbnails li {}
	#maincontent ul.thumbnails p.desc {
		overflow: hidden;
	}

	#fast_search {
		
	}
	
	#programslist {
		margin: 24px 0 0;
		border: 1px solid #BEC8D3;
		border-radius:16px;
		overflow: hidden;
	}
		
		#programslist .programcontainer {
			background: none repeat scroll 0 0 #EEF2F5;
		    height: auto;
			min-height:460px;
		    overflow: hidden;
		    padding: 16px 24px;
		}
			
		#programslist .programcontainer:after {
			
		}
			#programslist .programcontainer .programtitle {
				margin-top: 46px;
			}
			#programslist .programcontainer .programtitle:after {
				clear:both;
			}
			#programslist .programcontainer .programtitle * {
				line-height: 38px; 
			}
			#programslist .programcontainer .programtitle h3 {
				font-size: 22px;
			}
			
			#programslist .programcontainer .programtitle p {
				font-family: "Lucida Sans", Arial, Helvetica, sans-serif;
				font-size: 22px;
				margin: 0;
			}
			
			#programslist .programcontainer .programtitle p.desc {
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 15px;
				line-height: 1.5em;
				font-weight: bold;
				margin: 22px 0;
			}
			
				#programslist .programcontainer .programtitle p span {
				    font-family: "Lucida Sans", Arial, Helvetica, sans-serif;
				    font-size: 28px;
				    font-weight: bold;
				    padding: 0 12px 0 0;
				}
			
				#programslist .programcontainer .programtitle p span.start_time {
					
				}
				#programslist .programcontainer .programtitle p span.start_time {
					
				}
				#programslist .programcontainer .programtitle p span.end_time {
					
				}
				
				ul.tags_list {
					margin:0;
					display: inline-block;
				}
				ul.tags_list li {
					float:left;
					list-style:none;
					margin: 8px 12px 0 0;
				}
				ul.tags_list a {}
				#programslist #videos:after{
					clear:both;
				}
				#programslist .programcontainer .videos_content .desc  {
					font-size: 13px;
					line-height: 1.6em;
					padding: 16px 0;
				}
				
			#programslist .programdiv {
				height: 32px;
				width: 95%;
				padding: 0 12px;
				border-radius:6px;
			}
			
			#programslist .programdiv:after{
				clear:both;
			}
			
			#programslist .programdiv.active {
				/* background: none repeat scroll 0 0 #DEDEDE; */
				border: 2px solid #0088CC;
				padding: 11px;
			}
			
				#programslist .programdiv * {
					 line-height: 32px;
				}
				#programslist .programdiv .programtitle {
					height: 32px;
    				overflow: hidden;
				}
					#programslist .programdiv .programtitle p.start,
					#programslist .programdiv .programtitle p.end {
						font-size: 14px;
						float: left;
						margin: 0;
					}
					
					#programslist .programdiv .programtitle h3 {
						float: left;
						width: 80%;
					}
						#programslist .programdiv .programtitle h3 a {
							font-size: 16px;
							padding: 0 12px;
						}
				#programslist .programdiv .desc.intro {
					
				}
				#programslist .programdiv .desc.body {
					
				}
				
		#neighbor_days {
			padding:16px;
			border: 2px solid #BEC8D3;
			border-radius:6px;
			margin: 22px 0;
			border-radius: 12px 12px 12px 12px;
		}
		
			#neighbor_days a {
				
			}
		#slides-nav {
			
		}	
		a#allchannnels {
			text-align:center;
			font-size:18px;
			padding: 9px 25px;
		}
		a#allchannnels:hover {
			color: #333333;
			text-decoration: none;
			background-color: #e6e6e6;
			background-position: 0 -36px;
			-webkit-transition: background-position 0.1s linear;
			-moz-transition: background-position 0.1s linear;
			-ms-transition: background-position 0.1s linear;
			-o-transition: background-position 0.1s linear;
			transition: background-position 0.1s linear;
		}
		a#allchannnels:before {
			clear: both;
		}	
		a#allchannnels:after {
			clear: both;
		}

#header {}

	#header h1 {
		font-size: 12px;
	}
	
	#header .navbar-inner {
		border-top:none;
		border-right:none;
		border-bottom: 4px solid #0066CC;
		border-left: noone;
		background: none;
		border-radius: 0;
		box-shadow:none;
	}
	
	#header .navbar-inner .nav > li > a {
		text-shadow: none;
		color: #0066CC;
	} 
	#header .navbar-inner .nav > li > a:hover {
		color: #333;
	} 
	#header .navbar-inner .divider-vertical {
	    background: none;
	    border:none;
	}

#premieres {
	margin:0;
}
	
	#premieres h3 {}
	

ul#fpnav {
	margin:24px 0 0;
}

ul#fpnav:after{
	clear:both;
}
	ul#fpnav li { 
		height: 96px;
	    list-style: none outside none;
	    margin: 0 12px 16px 0;
	    text-align: center;
	}
	ul#fpnav li a {
		/* background: none repeat scroll 0 0 #D7D7D7; */
	    border: 2px solid #CCCCCC;
	    border-radius: 6px 6px 6px 6px;
	    display: block;
	    font-size: 24px;
	    height: 96px;
	    line-height: 96px;
	}
	ul#fpnav li a:hover {
		text-decoration: none;
	}
	
.ad468x60 {
	margin: 24px 8px;
}

#col_l {
	margin-right: 15px;
}

#footer {}

	#footer h4 { font-size:10px };
	#footer p { font-size:10px };

#col_l {}

	#col_l ul.catlist {}

		#col_l ul.catlist li {}

			#col_l ul.catlist a {
				border:none;
			}
			#col_l ul.catlist a:hover {
				background-color: #dedede;
			}
			
#col_r {}
	
	#col_r .ad336x280 {
		margin: 36px auto;
	    width: 336px;
	}
	#col_r .videos_sidebar {
		overflow:hidden;
	}
	#col_r .videos_sidebar h4 {
		float: left;
	    font-size: 12px;
	    line-height: 24px;
	    padding: 16px 0 8px;
		width: 100%;
	}
	#col_r .videos_sidebar h4 a {
		display: inline-block;
		padding: 0 0 0 26px;
		background: url(/images/icons/video_24x24.png) no-repeat scroll 0 3px transparent;
	}
	#col_r .videos_sidebar h4:after {
		clear:both
	}
	#col_r .videos_sidebar img  {
		margin: 0 6px 0;
	}
	#col_r .videos_sidebar .info{
		
	}
	#col_r .videos_sidebar .info:after {
		clear:both;
	}
	