@CHARSET "UTF-8";


[class*="span"] {
	margin-left: 15px;
}
.clr{
	clear: both;
}

.row-fluid {
	width: auto;
	margin: 0 8%;
}

.carousel-control {
    background: none repeat scroll 0 0 #FAA732;
    border: 3px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 100;
    height: 30px;
    left: 15px;
    line-height: 24px;
    top: 2%;
    text-shadow: none;
    opacity: 1;
    margin-top: 0;
    padding: 2px 0;
}

.navbar {
	overflow: hidden;
}

li.lastcol:after { 
	clear:both;
}

#xmltv{}

#channels{}

	#channels h3.channeltitle {
		cursor: pointer;
    	line-height: 54px;
	}
		/*
		#channels .channeltitle .channellink {
			width:95%;
			text-align: left;
		}
		#channels .channeltitle .channellink:after{
			clear:both;
		}
		#channels .channeltitle .channellink img {
			width:40px;
			height:40px;
		}
		*/
		#channels .channeldesc:after {
			content: "";
			clear:both;
			display: table;
		}

#maincontent{
	/* overflow:hidden; */
	min-height: 640px;
}
	#maincontent .page.videos {
		background-color: #EEEEEE;
		border-radius: 10px;
		padding: 10px;
		
	}
	
	#maincontent .page.videos .main:after {
		content:"";
		clear: both;
		display: table;
	}
	
	#maincontent .page.videos .main .tags_list {
		margin-left: 0;
	}
	
		#maincontent .page.videos .main p.desc {
			font-size: 1.2em;
    		margin: 24px 0 16px;
		}
		
		#maincontent .page.videos .main .player-wrap {
			width: 488px;
			height: 274px;
			background: url("../images/icons/128x128-loading.gif") no-repeat scroll 180px 73px #fff;
		}
	
		#maincontent .page.videos .main .taglist.title {
			font-size: 1.2em;
   			margin: 24px 0 16px;
		}
		#maincontent .page.videos .main ul.taglist {
			margin-left: 0;
			margin-bottom: 3em;
		}
		#maincontent .page.videos .main ul.taglist a {
			font-weight: bold;
			color: #FCFCFC;
		}
	
	#maincontent .page.videos .videothumb {
		float: left;
	    overflow: hidden;
	    width: 256px;
	}
	
		#maincontent .page.videos .infowrap {
			padding: 8px 0 16px;
			border-bottom: 1px dashed #333;
		}
		
		#maincontent .page.videos .infowrap:after {
			content:"";
			clear: both;
			display: table;
		}
		
			#maincontent .page.videos .infowrap .videothumb {
				float: left;
			    margin-right: 18px;
			    overflow: hidden;
			    width: 256px;
			}
		
			#maincontent .page.videos .infowrap .video-info {
				float: left;
				width: 230px;
			}
			
				#maincontent .page.videos .infowrap h3.video-title a {
					color: #9B9B9B;
				    font-size: 1.1em;
				    line-height: 1.3em;
				    text-decoration: underline;
				}
		
				#maincontent .page.videos .infowrap p.video-desc {
					margin: 0;
				}
	
				#maincontent .page.videos .infowrap p.video-category {
					margin: 0;
				}

				#maincontent .page.videos .video-tags:before {
					content:"";
					clear: both;
					display: table;
				}
				#maincontent .page.videos .video-tags:after {
					content:"";
					clear: both;
					display: table;
				}
					#maincontent .page.videos .video-tags ul {
						margin-left: 0;
					}
			
			
			
			
			
			
	
	

	#maincontent .page.videos .related .infowrap .video-date {
		font-size: 0.7em;
	}

	#fastsearch-wrap {
		display: none;
	}
	
	#programslist {
		margin: 24px 0 0;
		border: 1px solid #BEC8D3;
		border-radius:16px;
		overflow: hidden;
	}
		
		#programslist .programcontainer {
			background: none repeat scroll 0 0 #EEF2F5;
		    font-family: Tahoma,Arial,sans-serif;
		    height: auto;
		    overflow: hidden;
		    padding: 16px 24px;
		}
			
		#programslist .programcontainer:after {
			
		}
			#programslist .programcontainer .programtitle {
				line-height: 3em;
   				margin-top: 5em;
			}
			#programslist .programcontainer .programtitle:after {
				clear:both;
			}
			#programslist .programcontainer .programtitle * {
				/* line-height: 38px; */ 
			}
			#programslist .programcontainer .programtitle h3 a {
				font-size: 1.4em;
			    line-height: 1.6em;
			    text-decoration: underline;
			}
			#programslist .programcontainer .programtitle h3 {
				
			}
			
			#programslist .programcontainer .programtitle p {
				font-family: "Lucida Sans", Arial, Helvetica, sans-serif;
				font-size: 22px;
				margin: 0;
			}
			
			#programslist .programcontainer .programtitle p.desc {
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 15px;
				line-height: 1.5em;
				font-weight: bold;
				margin: 22px 0;
			}
			
				#programslist .programcontainer .programtitle p span {
				    font-family: "Lucida Sans", Arial, Helvetica, sans-serif;
				    font-size: 28px;
				    font-weight: bold;
				    padding: 0 12px 0 0;
				}
			
				#programslist .programcontainer .programtitle p span.start_time {
					
				}
				#programslist .programcontainer .programtitle p span.start_time {
					
				}
				#programslist .programcontainer .programtitle p span.end_time {
					
				}
				
				#programslist .programcontainer ul.tags_list {
					margin:14px 0 8px;
					
				}
				ul.tags_list li {
					
				}
				ul.tags_list a {
					color: #333;
					font-weight: bold;
				}
				
				#programslist .programcontainer .video {
					font-size: 1.5em;
    				margin: 1em 0 0;
				}
				
				#programslist .programcontainer .video h4 {
					margin: 1em 0;
				}
				
				#programslist .programcontainer .video a.video-link {
					text-decoration: underline;
				}
				
				#programslist #videos:after{
					clear:both;
				}
				#programslist .programcontainer .videos_content .desc  {
					font-family: Tahoma,Arial,sans-serif;
				    font-size: 0.7em;
				    line-height: 1.6em;
				    padding: 1em 0;
				}
				
				
				
			#programslist .programdiv {
				height: 32px;
				width: 95%;
				padding: 0 12px;
				border-radius:6px;
			}
			
			#programslist .programdiv:after{
				clear:both;
			}
			
			#programslist .programdiv.active {
				/* background: none repeat scroll 0 0 #DEDEDE; */
				border: 2px solid #0088CC;
				padding: 11px;
			}
			
				#programslist .programdiv * {
					 line-height: 32px;
				}
				#programslist .programdiv .programtitle {
					height: 32px;
    				overflow: hidden;
				}
					#programslist .programdiv .programtitle p.start,
					#programslist .programdiv .programtitle p.end {
						font-size: 14px;
						float: left;
						margin: 0;
					}
					
					#programslist .programdiv .programtitle h3 {
						float: left;
						width: 80%;
					}
						#programslist .programdiv .programtitle h3 a {
							font-size: 16px;
							padding: 0 12px;
						}
				#programslist .programdiv .desc.intro {
					
				}
				#programslist .programdiv .desc.body {
					
				}
				
		#neighbor_days {
			background-color: #5BC0DE;
		    border: 2px solid #2F96B4;
		    border-radius: 12px 12px 12px 12px;
		    margin: 22px 0;
		    padding: 16px;
		}
		
			#neighbor_days a {
				
			}
		#slides-nav {
			
		}	
		a#allchannnels {
			font-size: 18px;
		    padding: 9px 0;
		    text-align: center;
		    width: 100%;
		}
		a#allchannnels:hover {
			color: #333333;
			text-decoration: none;
			background-color: #e6e6e6;
			background-position: 0 -36px;
			-webkit-transition: background-position 0.1s linear;
			-moz-transition: background-position 0.1s linear;
			-ms-transition: background-position 0.1s linear;
			-o-transition: background-position 0.1s linear;
			transition: background-position 0.1s linear;
		}
		a#allchannnels:before {
			clear: both;
		}	
		a#allchannnels:after {
			clear: both;
		}

#header {}

	#header h1 {
		/* font-size: 12px; */
	}
	
	#header .navbar-inner {
		border-top:none;
		border-right:none;
		border-bottom: 4px solid #0066CC;
		border-left: noone;
		background: none;
		border-radius: 0;
		box-shadow:none;
	}
	
	#header .navbar-inner .nav > li > a {
		text-shadow: none;
		/* color: #0066CC; */
	} 
	#header .navbar-inner .nav > li > a:hover {
		color: #333;
	} 
	#header .navbar-inner .divider-vertical {
	    background: none;
	    border:none;
	}
	#header .navbar .brand { color: #0066cc; }
	#header a.brand, a.brand span { font-size: 11px; }

#premieres {
	margin:0;
}
	
	#premieres h3 {}
	

ul#fpnav {
	margin:24px 0 0;
}

ul#fpnav:after{
	clear:both;
}
	ul#fpnav li { 
		height: 96px;
	    list-style: none outside none;
	    margin: 0 12px 16px 0;
	    text-align: center;
	}
	ul#fpnav li a {
		/* background: none repeat scroll 0 0 #D7D7D7; */
	    border: 2px solid #CCCCCC;
	    border-radius: 6px 6px 6px 6px;
	    display: block;
	    font-size: 24px;
	    height: 96px;
	    line-height: 96px;
	}
	ul#fpnav li a:hover {
		text-decoration: none;
	}
	
.ad468x60 {
	margin: 24px 8px;
}

#col_l {
	
}

#footer {}

	#footer h4 { font-size:10px }
	#footer p { font-size:10px }
	#footer .counter_logo,
	#footer .copy { 
		float: left;
		height: 33px;
	}

#col_l {}

ul#channels_categories {}

	ul#channels_categories li {
		line-height: 22px;
	}
	
	ul#channels_categories > li > a {
		padding: 3px;
		color: #999;
	}
	ul#channels_categories > li > a:hover {
		background-color: #f1f1f1;
		color: #333;
	}
		
		ul#channels_categories img.icon {
			background-color: #FFFFFF;
		    border: 1px solid #E1E1E1;
		    height: 18px;
		    margin-right: 4px;
		    padding: 2px;
		    width: 18px;
		}
			
			
#col_r {}
	
	#col_r .ad336x280 {
		margin: 36px auto;
	    width: 336px;
	}
	#col_r .videos_sidebar {
		overflow:hidden;
	}
	#col_r .videos_sidebar h4 {
		float: left;
	    font-size: 12px;
	    line-height: 24px;
	    padding: 16px 0 8px;
		width: 100%;
	}
	#col_r .videos_sidebar .ui-accordion-header {
		display: inline-block;
		padding: 0 0 0 26px;
		background: url(/images/icons/video_24x24.png) no-repeat scroll 0 3px transparent;
	}
	#col_r .videos_sidebar h4:after {
		clear:both
	}
	#col_r .videos_sidebar img  {
		margin: 0 6px 0;
	}
	#col_r .videos_sidebar .info{
		
	}
	
	#col_r .videos_sidebar .info:after {
		content:"";	
		clear:both;
		display:table;
	}
	
	#col_r .module {
		margin-bottom: 36px;
	}
	
	#col_r .module h4.heading {
		color: #333333;
	    font-family: Tahoma,Arial,sans-serif;
	    font-size: 14px;
	    font-weight: bold;
	    line-height: 36px;
	    margin: 0 16px 0 0;
	    text-rendering: optimizelegibility;
	}
	
	#rumor-ads {
		display:none;
	}
	
	#rumor-ads .wrap {
		border-bottom: 1px dashed #B1B1B1;
	    height: 5em;
	    padding: 1em;
	}
	
	#rumor-ads p a {
		color: #0088CC;
	    font-size: 14px;
	    font-weight: bold;			
	}
	#rumor-ads p img {
		margin-right: 16px;
		float: left;		
	}
	
	#col_r .module .content {
		background-color: #FFFFFF;
    	border: 2px solid #E1E1E1;
	}

.container .span12 .span12 {
	margin-left: 0;
}
#vk_like{
	margin-top: 8px;
}

#vklogin{
	
}
#vklogin img { 
	border-radius: 3px;
}

.vhodwrap { margin: 9px 0 0; }
button#fulldesc {
	margin-bottom: 18px;
}